.abc {
  background-color: white;
}
.abb {
  background-color: grey;
}
.acc {
  background-color: black;
}
.add {
  background-color: white;
}
.acd {
  background-color: beige;
}
.acb {
  background-color: grey;
}
